@font-face {
  font-family: Gill Sans Bold;
  src: url(../Gill\ Sans\ Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

body {
  background-color: #fff;
  font-family: "Kanit", sans-serif;
  padding-top: 50px;
}

section {
  scroll-margin-top: 80px;
  /* header height ke equal */
}

p {
  color: #3C3C3C;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.smatre {
  color: #d9b44a;
}

.enquire-btn {
  background: #FDCD10;
  background: linear-gradient(90deg, rgba(253, 205, 16, 1) 0%, rgba(255, 233, 147, 1) 50%);
  color: #3D3D3D;
  font-size: 18px;
  font-weight: 400;
  padding: 7px 30px;
  border-radius: 8px;
  border: 1px solid #00000071;
  cursor: pointer;
  transition: all 0.3s ease;
}

.accordion-item {
  margin-bottom: 20px;
  border-radius: 20px !important;
}

/* Hover effect */
.enquire-btn:hover {
  background: linear-gradient(to bottom, #ffd86b, #d9b44a);
  transform: translateY(-2px);
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  z-index: 1000;

  /* Modern Shadow */
  box-shadow: 
    0 4px 20px rgba(0, 0, 0, 0.06),
    0 1px 3px rgba(0, 0, 0, 0.08);

  /* Optional Glass Effect */
  backdrop-filter: blur(10px);
}
.enquiry-card {
  width: 100%;
  background: #0B6FBA;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.ban-li {
  margin-bottom: 15px;
}

.enquiry-title {
  color: #FDD125;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 26px;
}

.text-start img {
  width: 100px !important;
  margin-bottom: 20px;
}

.form-box {
  border-radius: 8px;

}

.through {
  margin-bottom: 30px;
}

.form-control,
.form-select {
  background: #f1f1f1;
  border: none;
  border-radius: 8px;
  height: 45px;
  font-size: 14px;
  margin-bottom: 10px;
}

.form-control::placeholder,
.form-select {
  color: #999;
}

.submit-btn {
  background: linear-gradient(to right, #f7c600, #f3d27a);
  border: none;
  border-radius: 8px;
  height: 45px;
  font-weight: 500;
  width: 100%;
}

.gradient-text {
  background: linear-gradient(to right, #FDCD10, #FFE993);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.submit-btn:hover {
  opacity: 0.9;
}

.banner {
  background-image: url(../img/banner.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0px 60px 0px;
}

.wbs {
  background-color: #0B6FBA;
  padding: 7px 20px 5px 20px;
  border-radius: 10px;
  display: inline-block;
  width: fit-content;
  margin-bottom: 30px;
  border: 1px solid #ffffff8a;
}

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 20px 20px 0px 0px;
  border-bottom: none;
  background-color: #FAFAFA;
  padding: 20px;
}

.accordion-body {
  background-color: #FAFAFA;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: none !important;

}

.yellow-bx {
  background: #F9F96F;
  color: #022988;
  padding: 7px 20px 5px 20px;
  border-radius: 10px;
  display: inline-block;
  width: fit-content;
  margin-bottom: 15px;
}

.blu-bx {
  background-color: #F4F9FF;
  padding: 15px 30px 10px 30px;
  border-radius: 10px;
}

.mb {
  margin-bottom: 50px;
}

.blue-box {
  text-align: center;
}

h2 {
  color: #0673B9;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

.str-bx {
  background-color: #F4F9FF;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid transparent;
  transition: 0.3s ease;
}

/* Circle */
.tr {
  background-color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

/* Image transition */
.tr img {
  transition: 0.3s ease;
}

/* 🔥 ACTIVE STATE */
.str-bx.active-box {
  background-color: transparent;
  border: 1px solid #FDCD10;
}

.str-bx.active-box .tr {
  background-color: #FDCD10;
}

.str-bx.active-box .tr img {
  filter: brightness(0) invert(1);
  /* white icon */
}

/* 🔥 HOVER = ACTIVE */
.str-bx:hover {
  background-color: transparent;
  border: 1px solid #FDCD10;
}

.str-bx:hover .tr {
  background-color: #FDCD10;
}

.str-bx:hover .tr img {
  filter: brightness(0) invert(1);
}

/* 👇 IMPORTANT: jab hover ho toh default active hat jaye */
.row:hover .active-box {
  background-color: #F4F9FF;
  border: 1px solid transparent;
}

.row:hover .active-box .tr {
  background-color: #fff;
}

.row:hover .active-box .tr img {
  filter: none;
}

.win-text {
  background: #FDCD10;
  background: linear-gradient(83deg, rgba(253, 205, 16, 1) 0%, rgba(255, 233, 147, 1) 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 130px;

}

.dots {
  font-size: 60px;
  color: #ffd84d;
}

.fds {
  width: 80%;
  position: relative;
}

.dots {
  position: absolute;
  top: 12%;
  right: -20%;
}

.win {
  margin-top: 240px;
  position: relative;
}

.wina-text {
  position: absolute;
  top: -45%;
  right: 20%;
}

.dark-blu {
  background: #044677;
  border-radius: 10px;
  padding: 0px 30px 0px 0px;
}

.win-img {
  position: relative;
  margin-top: -188px;
}

.dark-blu {
  margin-top: 130px;
}

.grey-box {
  background-color: #F6F1F1;
  padding: 30px 20px;
  border-radius: 10px;
}

.school {
  background: #0877BE;
  background: linear-gradient(90deg, rgba(8, 119, 190, 1) 0%, rgba(1, 94, 153, 1) 50%);
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
}

.schools {
  background: #FDCD10;
  background: linear-gradient(90deg, rgba(253, 205, 16, 1) 0%, rgba(255, 233, 147, 1) 50%);
  color: #0877BE;
  padding: 20px 15px;
  text-align: center;
  border-radius: 12px;
}

.sch-bx {
  padding: 10px 20px;
}

.gfs {
  border-radius: 12px;
  border: 1px solid #00000028;
}

.bg-f {
  background-color: #EDF8FF;
  padding: 7px 30px;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 8px;
}

.bg-ff {
  background-color: #FFFCEE;
  padding: 7px 30px;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 8px;
}

.sts {
  font-size: 25px;
}

.center-box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* horizontal center */
  justify-content: center;
  /* vertical center (agar height ho) */
}

.gfv {
  border-radius: 12px;
  border: 1px solid #FDCD10;
  /* 👈 important */
  /* border-image: linear-gradient(to right, #FDCD10, #FFE993) 1; */
}

.blues {
  background-color: #DCF2FF;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  margin-top: 30px;
  width: 270px;
  max-width: 100%;
}

.yellows {
  background-color: #FFFCEE;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  margin-top: 30px;
  width: 270px;
  max-width: 100%;
}

.test-box {
  background: #01609C;
  background: linear-gradient(83deg, rgba(1, 96, 156, 1) 0%, rgba(0, 33, 54, 1) 50%);
  padding: 40px 80px;
  border-radius: 12px;
}

.br-r {
  border-right: 1px solid #fff;
}

.box1 {
  padding: 10px;
}

.but {
  margin-top: 50px;
}

/* .apply-box {
  background: #FDCD10;
  background: linear-gradient(83deg, rgba(253, 205, 16, 1) 0%, rgba(255, 233, 147, 1) 50%);
  padding: 40px 80px;
  border-radius: 12px;
} */
.box1 {
  background: #FFE990;
  background: linear-gradient(83deg, rgba(255, 233, 144, 1) 0%, rgba(253, 207, 26, 1) 50%);
  text-align: center;
  padding: 30px 0px;
  border-radius: 10px;
}

.box2 {
  background: #044677;
  background: linear-gradient(83deg, rgba(4, 70, 119, 1) 0%, rgba(7, 130, 221, 1) 50%);
  text-align: center;
  padding: 30px 0px;
  border-radius: 10px;
}

.box1 img,
.box2 img {
  margin-bottom: 10px;
}

.box1 p {
  color: #3D3D3D;
  font-weight: 600;
}

.box2 p {
  color: #fff;
}

.blu-box {
  background-color: #EBFAFF;
  padding: 30px 80px;
  border-radius: 10px;
  margin-bottom: -24px;
}

.hard-img img {
  margin-bottom: 5px;
}

.imhg img {
  width: 50px;
  height: 200px;
  margin-top: 60px;
}

.but ul li::marker {
  color: #f7c600;
}

.creates {
  background-color: #0B6FBA;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  width: fit-content;
  font-size: 20px;
}

.hard {}

.dark-blues {
  background-color: #044677;
  padding: 20px 60px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin-top: -70px;
  width: 800px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.but ul li {
  padding-bottom: 10px;
  color: #3D3D3D;
  font-size: 19px;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
}

.second-blu-bx {
  margin-top: 50px;
}

.hard-img {
  padding: 10px;
}

.how-box {
  background: #FBFBFB;
  padding: 40px 80px;
  border-radius: 12px;
}

.stroke-text {
  font-size: 40px;
  font-weight: 700;
  color: transparent;
  /* andar transparent */
  -webkit-text-stroke: 2px #2b6cb0;
  /* blue border */
}

.wk-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-top: 40px;
}

.wk-bx {
  flex: 0 0 18%;
  /* 5 items in one row */
  text-align: center;
  padding: 15px 10px;
  border-radius: 12px;

  transition: 0.3s;
}

.wk-bx img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.wk-bx h6 {
  color: #3D3D3D;
  font-size: 14px;
  line-height: 1.4;
}

/* Hover effect (optional but looks premium) */
.wk-bx:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* 📱 Mobile view: 2 items per row */
@media (max-width: 768px) {
  .wk-bx {
    flex: 0 0 48%;
  }
}

.wk-bx {
  padding: 20px;
  text-align: center;
}

.wk-bx img {
  margin-bottom: 10px;
}

.ern-bx {
  position: relative;
  margin-top: -50px;
}

.faq {
  padding: 50px 0px;
}

.footer-tetx {
  padding: 40px 20px;
}

.sticky-icon {
  position: fixed;
  top: 55%;
  right: 1%;
  z-index: 999;
}

.icon-box {
  background-color: #0673B9;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 0px 12px;
  margin-bottom: 5px;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.btn-close {
  position: absolute;
  top: -4%;
  right: -3%;
  /* background: #FDCD10;
   background: linear-gradient(83deg, rgba(253, 205, 16, 1) 0%, rgba(255, 233, 147, 1) 50%); */
  background-color: #FDCD10;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  z-index: 999;
}

.modal-body {
  padding: 0px;
}

.vcf {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #0877BE;
  padding: 30px 0px;
}

.blue-box {
  position: relative;
  transition: all 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}

/* text smooth change */
.blue-box {
  padding: 6px 8px 1px 8px;
  /* same padding default me de do */
  transition: all 0.4s ease;
}

/* smooth glass hover */
.blue-box:hover {
  transform: translateX(6px) scale(1.02);
  background: #fdce108a;
  background: linear-gradient(90deg, rgba(253, 206, 16, 0.548) 0%, rgba(255, 233, 147, 0.692) 50%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
}

/* text smooth change */
.blue-box h4 {
  transition: all 0.4s ease;
}

.but ul {
  padding-left: 1rem;
}



@media screen and (max-width: 767px) {
  .banner {
    padding: 118px 0px 60px 0px;
  }

  h2 {
    font-size: 27px;
  }

  .fds h5 {
    font-size: 16px;
  }

  .imhg img {
    transform: rotate(450deg);
    margin-top: 0px;
    margin-left: 110px;
    margin-top: -82px;

  }

  .but {
    margin-top: -39px;
  }

  .hard-img {
    margin: auto;
  }

  .wina-text {
    top: -146%;
    right: 0%;
    padding: 15px;
  }

  .blu-box {
    background-color: #EBFAFF;
    padding: 30px;
  }

  .dark-blu {
    padding: 26px 15px 10px 15px;
  }

  .win-text {
    height: 90px;
  }

  .win-img {
        position: relative;
        margin-top: -438px;
    }

  .win {
    margin-top: 600px;
    position: relative;
  }

  .faq {
    padding: 0px 0px;
  }

  .dark-blues {
    padding: 15px;
    margin-top: -40px;
    width: 306px;
    max-width: 100%;
  }

  .box1,
  .box2 {
    margin-bottom: 10px;
    padding: 15px;
    height: 100%;
  }

  .box1 img,
  .box2 img {
    width: 50px;
    height: 50px;
  }

  .how-box {
    background: #FBFBFB;
    padding: 40px 23px;
  }

  .footer {
    margin-top: 50px;
  }

  .wk-bx {
    padding: 10px;
    flex: 0 0 45%;
  }
  .footer-tetx {
    padding: 14px 10px;
}
}